.container {
  border: 0px solid black;
  margin: 5px;
}
.header {
  font-size: 3rem;
  max-width: 100%;
  margin-top: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.title {
  text-align: center;
}

.gameContainer {
  border: 3px solid #689ead;
  background: #46667a;
  padding: 10px;
  border-radius: 30px;
  align-self: center;
  justify-content: center;
}

.gameContainer:hover {
  box-shadow: 0 8px 16px black;
  background: #1a3647;
  border: 3px #46667a;
}

.gameGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  position: relative;
  justify-content: center;
}
.gameImg {
  max-width: calc(25%-26px);
}

@media screen and (max-width: 575px) {
  .gameGrid {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    justify-content: center;
  }
  .container {
    margin: 1px;
  }
  .header {
    font-size: 2rem;
    max-width: 100%;
    margin-top: 25px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  .title {
    text-align: center;
  }

  .gameContainer {
    border: 3px solid #689ead;
    background: #46667a;
    padding: 5px;
    border-radius: 30px;
    align-self: center;
    justify-content: center;
    max-width: 95%;
  }
}
