body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a3647;
  color: #bad2e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 15px;
  margin-right: auto;
  max-width: 30%;
  /* border: 4px solid rgb(180, 0, 0); */
  align-items: center;
  background-color: #1198ed;
  border-radius: 20px;
}

.text-card {
  /* Add shadows to create the "card" effect */
  padding: 5px;
}

.url-card {
  margin: auto;
  font-size: 13px;
  color: antiquewhite;
  padding: 3px;
}

/* On mouse-over, add a deeper shadow */
.game-card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.8);
}

/* Add some padding inside the card container */
.game-container {
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;
}

.game-img {
  width: 100%;
  border-radius: 20px;
}

.game-header {
  display: flex;
  justify-content: center;
  font-size: 75px;
}

.joke-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 15px;
  margin-right: auto;
  max-width: 30%;
  /* border: 4px solid rgb(180, 0, 0); */
  align-items: center;
  background-color: #1198ed;
  padding: 8px;
  border-radius: 25px;
}

.joke-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.joke-container {
  padding: 2px 16px;
  display: flex;
  flex-wrap: wrap;
}

.joke-header {
  display: flex;
  justify-content: center;
  font-size: 75px;
}

.joke-text h3 {
  color: aliceblue;
}
