.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  margin-bottom: 30px;
}

.header {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding-top: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #bac2c7;
  border-radius: 10px;
  padding: 70px;
  background-color: #869ead;
  max-width: calc(100% - 142px);
  box-shadow: 3px 3px 6px #111;
}

.button {
  margin: 15px auto 5px auto;
  display: inline-block;
  background-color: #46667a;
  border: 0;
  border-radius: 3px;
  color: #bad2e0;
  padding: 7px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #305064;
  transform: scale(1.05);
  box-shadow: 2px 2px 4px #1d1d1d;
}

.input {
  border: 1px solid #46667a;
  padding: 5px;
  max-width: calc(100% - 12px);
  width: 100%;
  border-radius: 3px;
}
