.container {
  color: #869ead;
  border: 5px solid #46667a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  max-width: 100%;
  flex-wrap: wrap;
}

.gameImage {
  display: flex;
  flex: 1;
  margin-left: 1em;
  border: 7px solid #869ead;
  border-radius: 3px;
  width: 500px;
  max-width: calc(100% - 264px);
  min-width: 300px;
}

.like {
  margin-left: 15px;
  font-size: 12px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  color: #fefefe;
}

.informationContainer {
  margin: auto;
}

.releaseDate,
.getGame {
  color: #869ead;
  margin: 30px;
  font-weight: 600;
}

.releaseDate {
  font-size: 16px;
}

.getGame {
  font-size: 22px;
}

.description {
  font-weight: 600;
  font-size: 20px;
  margin: 50px;
}

.titleInfo {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.bubbleContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: center;
  align-items: center;
}

.bubble {
  background-color: #46667a;
  color: #fefefe;
  border-radius: 50px;
  padding: 3px 10px;
  font-size: 12px;
  margin: 0 5px;
  font-weight: 700;
}

.likeButton {
  width: 50px;
  height: 50px;
  padding: 25px;
  cursor: pointer;
}

.link {
  color: #a1dbff;
}

@media screen and (max-width: 575px) {
  .container {
    margin: 0;
    padding: 1em;
  }
  .gameContainer {
    max-width: 100% !important;
  }
  .gameImage {
    margin: 0 auto;
  }
  .titleInfo {
    margin: 25px -10px 25px -15px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .description {
    margin-top: 5px;
  }
  .likeButton {
    padding-right: 0px;
    margin-right: 10px;
    width: 25px;
  }
}
